/* Адаптация для шапки сайта */
@media (max-width: 1120px) {
    header {
        padding: 25px 50px;
    }
}

@media (max-width: 980px) {
    header .side-block .top {
        display: none;
    }

    header .side-block .bottom .links {
        display: none;
    }   

    header .side-block .bottom .burger .open-btn {
        display: block;
    }
}

@media (max-width: 760px) {
    header {
        padding: 25px 25px;
    }

    header .logo {
        width: 140px;
        height: 40px;
    }
}

@media (max-width: 420px) {
    header {
        padding: 25px 15px;
    }
}