/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Russo+One&display=swap');

/* Базовые стили */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: #000C11;
}

a {
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    text-decoration: none;
}

button {
    cursor: pointer;
    font-weight: 400;
}

img,
svg {
    max-width: 100%;
}

/* Стили для шапки сайта */
header {
    background-color: #000C11;
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

header .logo {
    width: 200px;
    height: 60px;
}

header .side-block .top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

header .side-block .top .block {
    display: flex;
}

header .side-block .top .block span {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin: 1px 20px 0 5px;
}

header .side-block .bottom {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 15px;
    margin-right: 15px;
}

header .side-block .bottom a {
    color: white;
    font-size: 18px;
    margin-right: 30px;
    transition: 0.2s ease-in;
}

header .side-block .bottom a:last-child {
    margin-right: 0;
}

header .side-block .bottom a:hover {
    color: #34B7FE;
}

header .side-block .bottom .language {
    margin-top: -7px;
}

header .side-block .bottom .language a {
    margin: 0px 5px 0 5px;
    font-size: 20px;
}

header .side-block .bottom .language a.active {
    color: #34B7FE;
}

header .side-block .bottom .language img {
    position: relative;
    top: 3px
}

header .side-block .bottom .links {
    margin-right: 10px;
}

/* Стили для бургер меню */
header .side-block .bottom .burger {
    margin-top: -4px;
    margin-left: 15px;
}

header .side-block .bottom .burger .open-btn {
    display: none;
}

header .side-block .bottom .burger .close-btn {
    display: none;
}

.dropdown-burger {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    height: 90vh;
    padding-left: 50px;
    background-color: #000C11;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 999;
}

.dropdown-burger.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.dropdown-burger .line {
    background-color: gray;
    height: 2px;
    width: 90%;
}

.dropdown-burger .links {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.dropdown-burger .links a {
    font-size: 16px;
    color: white;
    border-bottom: 1px solid #014265;
    width: 90%;
    padding: 15px 0;
    transition: 0.3s ease-in;
}

.dropdown-burger .links a:hover {
    color: #014265;
}

.dropdown-burger .info {
    margin-top: 50px;
}

.dropdown-burger .info .sub-block {
    margin-bottom: 20px;
}

.dropdown-burger .info .sub-block img {
    margin-right: 10px;
    vertical-align: middle;
}

.dropdown-burger .info .sub-block span {
    color: white;
    font-size: 14px;
}

/* Стили для блока Hero */
.hero {
    background-image: url("../images/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
}

.hero .text {
    padding: 125px 100px;
}

.hero .text h2 {
    font-size: 61px;
    font-family: "Russo One", sans-serif;
    color: white;
}

.hero .text h2 b {
    color: #34B7FE;
}

.hero .text p {
    color: white;
    font-size: 18px;
    width: 700px;
    font-weight: 300;
    padding: 25px 0 50px 0;
}

.hero .text a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #34B7FE;
    padding: 13px 25px;
    border-radius: 22px;
    transition: 0.2s ease-in;
}

.hero .text a:hover {
    background-color: #0184CB;
}

/* Стили для блока Преимущества клуба*/
.benifits {
    padding: 100px 100px 50px 100px;
}

.benifits .nav img {
    vertical-align: middle;
}

.benifits .nav span {
    color: #CCEDFF;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 300;
    margin-left: 5px;
}

.benifits h2 {
    font-size: 58px;
    font-family: "Russo One", sans-serif;
    color: white;
}

.benifits h2 b {
    color: #34B7FE;
}

.benifits p {
    color: #E6F6FF;
    font-size: 18px;
    font-weight: 300;
    width: 650px;
    margin: 20px 0;
}

.benifits .container .top {
    display: flex;
    justify-content: center;
}

.benifits .container .top .block-1,
.benifits .container .top .block-2,
.benifits .container .top .block-3,
.benifits .container .bottom .block-4,
.benifits .container .bottom .block-5 {
    width: 33%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 25px;
}

.benifits .container .top .block-1:last-child,
.benifits .container .top .block-2:last-child,
.benifits .container .top .block-3:last-child,
.benifits .container .bottom .block-4:last-child,
.benifits .container .bottom .block-5:last-child {
    margin-right: 0;
}

.benifits .container .top .block-1 img,
.benifits .container .top .block-2 img,
.benifits .container .top .block-3 img,
.benifits .container .bottom .block-4 img,
.benifits .container .bottom .block-5 img {
    width: 50px;
    height: 45px;
}

.benifits .container .top .block-1 span,
.benifits .container .top .block-2 span,
.benifits .container .top .block-3 span,
.benifits .container .bottom .block-4 span,
.benifits .container .bottom .block-5 span {
    text-align: center;
    width: 250px;
    margin-top: 15px;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.benifits .container .top .block-1.active span {
    color: #34B7FE;
}

.benifits .container .bottom {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.benifits .container .bottom .block-4,
.benifits .container .bottom .block-5 {
    width: 50%;
}

.benifits .container .top .block-1 {
    background-image: url("../images/ben-1.png");
}
.benifits .container .top .block-2 {
    background-image: url("../images/ben-2.png");
}
.benifits .container .top .block-3 {
    background-image: url("../images/ben-3.png");
}
.benifits .container .bottom .block-4 {
    background-image: url("../images/ben-4.png");
}
.benifits .container .bottom .block-5 {
    background-image: url("../images/ben-5.png");
}

/* Стили для блока "Как это работает" */
.steps {
    display: flex;
    flex-wrap: nowrap;
    padding: 50px 100px;
}

.steps .main-img {
    width: 45%;
    padding-right: 5%;
}

.steps .container {
    width: 50%;
}

.steps .container .nav img {
    vertical-align: middle;
}

.steps .container .nav span {
    color: #CCEDFF;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 300;
    margin-left: 5px;
}

.steps .container h2 {
    font-size: 48px;
    font-family: "Russo One", sans-serif;
    color: white;
}

.steps .container h2 b {
    color: #34B7FE;
}

.steps .container p {
    color: #E6F6FF;
    font-size: 16px;
    font-weight: 300;
    max-width: 650px;
    margin: 20px 0;
}

.steps .container .sub-container {
    padding-top: 25px;
}

.steps .container .sub-container .block {
    display: flex;
    padding-bottom: 15px;
}

.steps .container .sub-container .block img {
    width: 50px;
    height: 50px;
}

.steps .container .sub-container .block .text {
    padding-left: 15px;
}

.steps .container .sub-container .block .text .top-p {
    color: #E6F6FF;
    font-size: 18px;
    font-weight: bold;
}

.steps .container .sub-container .block .text p {
    font-size: 14px;
    font-weight: 300;
    margin-top: -5px;
}

.steps .container .sub-container .button {
    padding-top: 25px;
}

.steps .container .sub-container .button a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #34B7FE;
    padding: 13px 25px;
    border-radius: 22px;
    transition: 0.2s ease-in;
}

.steps .container .sub-container .button a:hover {
    background-color: #0184CB;
}


/* Cтили для блока с услугами */
.services {
    padding: 25px 100px 50px 100px;
    background-image: url("../images/services-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: max-content;
}

.services h2 {
    color: #014265;
    font-size: 11vw;
    text-align: center;
}

.services .container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.services .container img {
    width: 280px;
}


/* Стили для блока с тренерами */
.team {
    padding: 50px 100px;
}

.team .nav img {
    vertical-align: middle;
}

.team .nav span {
    color: #CCEDFF;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 300;
    margin-left: 5px;
}

.team h2 {
    font-size: 58px;
    font-family: "Russo One", sans-serif;
    color: white;
}

.team h2 b {
    color: #34B7FE;
}

.team p {
    color: #E6F6FF;
    font-size: 18px;
    font-weight: 300;
    width: 650px;
    margin: 20px 0;
}

.team .arrows {
    float: right;
}

.team .arrows img:first-child {
    margin-right: 7px;
}

.team .container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 25px;
    padding-top: 50px;
}

.team .container::-webkit-scrollbar {
    display: none;
}

.team .block {
    flex: 0 0 auto;
    width: 280px;
    height: 380px;
    position: relative;
    overflow: hidden;
}


.team .container .block img {
    width: 280px;
    height: 100%;
    object-fit: cover;
    display: block;
}

.team .overlay {
    position: absolute;
    inset: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.7s ease-in-out;
    box-sizing: border-box;
}

.team .block:hover .overlay {
    transform: translateY(35%);
}

.team .overlay .name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.team .overlay p {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.3;
    margin: 2px 0;
    max-width: 100%;
    word-wrap: break-word;
}


/* Cтили для блока "Галлерея" */
.gallery {
    padding: 50px 100px;
}

.gallery .nav img {
    vertical-align: middle;
}

.gallery .nav span {
    color: #CCEDFF;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 300;
    margin-left: 5px;
}

.gallery h2 {
    font-size: 58px;
    font-family: "Russo One", sans-serif;
    color: white;
}

.gallery h2 b {
    color: #34B7FE;
}

.gallery p {
    color: #E6F6FF;
    font-size: 17px;
    font-weight: 300;
    width: 650px;
    margin: 20px 0;
}

.gallery .container {
    padding-top: 25px;
    display: grid;
    place-items: center;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery .container .block img {
    width: 32%;
    height: 325px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery .container .block img:last-child {
    margin-right: 0;
}


/* Стили для блока с отзывом */
.review {
    padding: 50px 100px;
    background-image: url("../images/review-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: max-content;
    display: grid;
    place-items: center;
}

.review img {
    max-width: 140px;
    max-height: 140px;
}

.review .text {
    width: 540px;
    text-align: center;
    padding-top: 25px;
}

.review .text h3 {
    font-size: 32px;
    font-family: "Russo One", sans-serif;
    color: white;
    padding-bottom: 15px;
}

.review .text span {
    font-size: 14px;
    font-weight: 300;
    color: white;
}

.review .text .name {
    padding-top: 15px;
    color: #34B7FE;
    font-weight: bold;
    font-size: 20px;
}

.review .text p {
    color: white;
    font-size: 14px;
}

/* Стили для блкоа с абонементами */
.prices {
    padding: 50px 100px;
}

.prices .nav img {
    vertical-align: middle;
}

.prices .nav span {
    color: #CCEDFF;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 300;
    margin-left: 5px;
}

.prices h2 {
    font-size: 42px;
    font-family: "Russo One", sans-serif;
    color: white;
}

.prices h2 b {
    color: #34B7FE;
}

.prices p {
    color: #E6F6FF;
    font-size: 17px;
    font-weight: 300;
    width: 650px;
    margin: 20px 0;
}

.prices .arrows {
    float: right;
}

.prices .arrows img:first-child {
    margin-right: 7px;
}

.prices .container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 25px;
    padding-top: 50px;
}

.prices .container::-webkit-scrollbar {
    display: none;
}

.prices .block {
    max-width: 270px;
    border: 1px solid white;
}

.prices .block.hot {
    border: 1px solid #34B7FE;
}

.prices .block.hot .special {
    position: relative;
}

.prices .block.hot .first-h5 {
    margin-top: -50px;
}

.prices .block h5 {
    color: #0184CB;
    font-family: "Russo One", sans-serif;
    font-size: 24px;
    text-align: center;
}

.prices .block h5:first-child {
    padding-top: 32px;
}

.prices .block .line {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 4px 0;
    margin-top: 25px;
}

.prices .block.hot .line {
    background-color: #34B7FE;
}

.prices .block .line img {
    width: 28px;
    height: 28px;
}

.prices .block .line span {
    color: black;
    font-size: 17px;
    margin-top: 3px;
    margin-left: 7px;
}

.prices .block ul {
    color: white;
    padding: 35px 50px;
    height: 100px;
}

.prices .block ul li {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
}

.prices .block ul li:last-child {
    margin-bottom: 0;
}

.prices .block .price {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.prices .block .price p {
    font-size: 17px;
    font-weight: 400;
}

.prices .block .price .value {
    color: #34B7FE;
    font-weight: bold;
}


/* Cтили для блока с местоположением (картой)  */
.maps {
    padding: 50px 100px;
    display: flex;
    flex-wrap: nowrap;
}

.maps .container {
    display: block;
    width: 45%;
    padding-right: 5%;
}

.maps .container .nav img {
    vertical-align: middle;
}

.maps .container .nav span {
    color: #CCEDFF;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 300;
    margin-left: 5px;
}

.maps .container h2 {
    font-size: 42px;
    font-family: "Russo One", sans-serif;
    color: white;
}

.maps .container h2 b {
    color: #34B7FE;
}

.maps .container p {
    color: #E6F6FF;
    font-size: 17px;
    font-weight: 300;
    width: 400px;
    margin: 20px 0;
    padding-top: 20px;
}

.maps .container .info {
    padding-top: 20px;
}

.maps .container .info span {
    display: block;
    color: white;
    font-size: 17px;
    font-weight: 300;
    padding-bottom: 15px;
}

.maps .container .info span:last-child {
    padding-bottom: 0;
}

/* Стили для формы обратной связи */
.consultation {
    padding: 50px 100px;
    background-image: url("../images/form-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.consultation .nav {
    text-align: center;
    display: grid;
    place-items: center;
    padding-bottom: 25px;
    padding-top: 20px;
}

.consultation .nav span {
    color: #CCEDFF;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 4px;
}

.consultation .nav img {
    width: 60px;
    height: 2px;
}

.consultation h2 {
    font-size: 42px;
    font-family: "Russo One", sans-serif;
    color: white;
    text-align: center;
}

.consultation h2 b {
    color: #34B7FE;
}

.consultation p {
    color: #E6F6FF;
    font-size: 17px;
    font-weight: 300;
    margin: 20px 0;
    text-align: center;
}

.consultation .form {
    display: grid;
    place-items: center;
    padding-bottom: 20px;
    margin-top: -25px;
}

.consultation form {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.consultation form label {
    color: white;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 25px;
}

.consultation form input {
    width: 350px;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    font-size: 14px;
    outline: none;
    /* margin-bottom: 25px; */
    color: white;
    transition: 0.2s ease-in-out;
}

.consultation form input:focus {
    border: 1px solid #34B7FE;
    color: #34B7FE;
}

.consultation form .button {
    text-align: center;
    padding-top: 15px;
}

.consultation form button {
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #34B7FE;
    border-radius: 22px;
    transition: 0.2s ease-in;
    border: none;
    padding: 10px 45px;
}

.consultation form button:hover {
    background-color: #0184CB;
}

.consultation form .alert {
    font-size: 12px;
    font-weight: 200;
    color: red;
    margin-top: 5px;
}

.consultation form .alert.success {
    color: greenyellow;
}


/* Стили для футера */
footer {
    padding: 50px 100px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

footer .container .block {
    display: flex;
    flex-direction: column;
}

footer .container .block-1 {
    width: 250px;
}

footer .container .block-1 .logo {
    width: 180px;
}

footer .container .block-1 p {
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin: 25px 0;
}

footer .container .block-1 .socials a img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

footer .container .block-2 a {
    font-size: 18px;
    color: white;
    margin-bottom: 25px;
    transition: 0.2s ease-in;
}

footer .container .block-2 a:hover {
    color: #34B7FE;
}

footer .container .block-2 a:last-child {
    margin-bottom: 0;
}

footer .container .block-3 .sub-block {
    padding-bottom: 20px;
}

footer .container .block-3 .sub-block:last-child {
    padding-bottom: 0px;
}

footer .container .block-3 .sub-block img {
    width: 22px;
}

footer .container .block-3 .sub-block span {
    color: white;
    font-size: 15px;
    margin-left: 7px;
    vertical-align: top;
}

footer .line {
    height: 1px;
    background-color: gray;
}

footer .second-container {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

footer .second-container span {
    color: gray;
    font-size: 12px;
    font-weight: 300;
}

footer .second-container span a {
    color: gray;
    text-decoration: underline;
}

footer .second-container a {
    color: gray;
    font-size: 12px;
    font-weight: 300;
    text-decoration: underline;
}

/* Лингвисткие стили */
.services .h2-ro-services {
    font-size: 114px;
}